.detail-title {
	color: black;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 2em;
	line-height: 100%;
}

.responsive-table {
	margin-bottom: 20px;
}
.detail-info-title {
	font-weight: bold;
	margin: 0px;
}
.detail-info {
	font-weight: normal !important;
}