<!DOCTYPE html>
<html lang="en">
<head>
	<script src="/javascript/jquery-3.2.1.min.js"></script>
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/materialize.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/search.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/upload.css" type="text/css" />
	<title>HCID Lookup</title>
</head>
<body>

	{{{body}}}
	
	<script src="/javascript/materialize.js"></script>
	<script src="/javascript/app.js"></script>
</body>
</html>