<div class="background-logo">
	<img src="assets/images/la-logo.png">
</div>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href=# class="brand-logo center">HCID Lookup Tool</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/upload">Upload</a></li>
            </ul>
        </div>
    </nav>
 </div>
 <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <form>
				<div class="input-field">
					<input placeholder="Search by Address" id="search" type="search" required>
          			<label class="label-icon" for="search"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
			</form>
        </div>
    </nav>
 </div>
