
.header-logo {
	height: 60px;
}

.header-title {
  /*font-size: 3em;*/
  margin: 0px;
  padding-left: 10px;
  font-family: Helvetica, Arial,sans-serif;
  font-weight: bold;
}

.address-list-title {
	font-size: 0.70em;
}

.search-buttons {
	text-align: right;
	margin-bottom: 20px;
}

.search-button-clear {
	margin-left: 10px;
}

.search-input {
	margin-bottom: 10px !important;
}

.main-container {
	margin-left: 10%;
	margin-right: 10%;
}
