.header-city-logo {
	height: 60px;
}

.header-logo {
	height: 60px;
}

.header-title {
  /*font-size: 3em;*/
  margin: 0px;
  padding-left: 10px;
  font-family: Helvetica, Arial,sans-serif;
  font-weight: bold;
}

.header-row {
	padding: 5px;
	border-bottom: 1px solid #e8e8e8;
}

.address-list-title {
	font-size: 0.70em;
}

.search-buttons {
	text-align: right;
	margin-bottom: 20px;
}

.search-button-clear {
	margin-left: 10px;
}

.search-input {
	margin-bottom: 10px !important;
}

.address-list {
	border-right: 2px solid black;
}