body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo{
  width:100px;
  height: auto;
}


/* label underline focus color */
input[type=text]:focus {
  border-bottom: 1px solid #792E37;
  box-shadow: 0 1px 0 0 #792E37;
}

.property-data{
	width:75px;
}

.prop-address-container{
  border-bottom: 2px solid black;
}

.prop-address{
  font-size: 20px;
}

.prop-address-data{
  font-size: 25px;
}

#hims_data{
	width:30%;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}
