nav {
	background-color: #81332F;
}

body {
	background-color: #023B4C;
}

.background-logo {
	position: absolute;
	height: 100vh;
	width: 100%;
	z-index: -1;
}

.background-logo img {
	width: 30%;
	margin: 35vh 0 0 35%;
	opacity: 0.4;
}

.upload-box {
 	width: 50%;
	margin: 5% 0 0 25%;
	height: 100px;
    background-color: rgba(229,229,229, 0.5);
    border-radius: 10px 10px;
}

.upload-box form {
	padding-top: 20px;
}

.upload-btn,
.choose-btn {
	background-color: #81332F;
	float: left;
	margin: 10px;
}

.upload-btn:hover,
.choose-btn:hover {
	background-color: #fff;
	color: #000;
}

.upload-btn {
	float: right;
}

#file {
	margin: 20px 0 0 -87px;
	color: #fff;
	position: relative;
	z-index: -1;
}

#file:focus {
	outline:none;
}
